<div class="text-center">
    <p id="NoDataMainText">
        <br />
        You do not have any buisness account assosiated with this account.
        <br />If you have a one you can login below and see your insights.
        <br />Else you can check <a href="https://business.instagram.com/getting-started">this guide</a> on how to create one
    </p>
    <a href="http://www.facebook.com/dialog/oauth?client_id=326842804433660&redirect_uri=http://localhost:50862/influencer/StatisticsInstagramAccounts&scope=instagram_basic+instagram_manage_insights+read_audience_network_insights+read_insights+pages_show_list
">Steal my shit plz! (GetUsersToken)</a>
    <form>
        <button>Login as business</button>
    </form>
</div>
