

@{
    ViewData["Title"] = "Home Page";

}
<!-- Øverste del -->

<div id="gtco-header" data-section="home" class="gtco-cover header-fixed" role="banner">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-center">
                <div class="display-t">
                    <div class="display-tc">
                        <h1 class="animate-box" data-animate-effect="fadeIn">Bestfluence</h1>
                        <h2 class="animate-box" data-animate-effect="fadeIn">Who are your influencer - Sign in or sign up to find out. </h2>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <a class="btn btn-lg btn-primary btn-block" asp-action="Index" asp-controller="/Account/Login">Login</a>
                            </div>
                            <hr class="colorgraph">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <p>
                                    <a class="btn btn-lg btn-primary btn-block" asp-action="Index" asp-controller="/Account/Register">Register as a new user?</a>
                                </p>
                            </div>
                        </div>
                        <h3 class="text" style="color:#ffffff"> Having any questions? Scroll down to find the answers.</h3>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Øverste del slut -->

<!-- Nederste del  start -->
<div class="gtco-section" id="gtco-faq" data-section="faq">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2>Frequently Ask Questions</h2>
                <p> Find answers to questions you might have</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <!-- Collapse 1 -->
                <div class="gtco-accordion">
                    <div class="btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <div class="gtco-accordion-heading">
                            <h3>What is an influencer?</h3>
                        </div>
                    </div>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            Insert text
                        </div>
                    </div>
                </div>

                <!-- Collapse 2 -->
                <div class="gtco-accordion">
                    <div class="btn-primary" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                        <div class="gtco-accordion-heading">
                            <h3>How do i contact a influencer.</h3>
                        </div>
                    </div>
                    <div class="collapse" id="collapseExample2">
                        <div class="card card-body">
                            Insert text
                        </div>
                    </div>
                </div>

                <!-- Collapse 3 -->
                <div class="gtco-accordion">

                    <div class="btn-primary" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                        <div class="gtco-accordion-heading">
                            <h3>Some stuff.</h3>
                        </div>
                    </div>

                    <div class="collapse" id="collapseExample3">
                        <div class="card card-body">
                            Insert text
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Collapse 4 -->
                <div class="gtco-accordion">
                    <div class="btn-primary" data-toggle="collapse" href="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                        <div class="gtco-accordion-heading">
                            <h3>What is an influencer?</h3>
                        </div>
                    </div>
                    <div class="collapse" id="collapseExample4">
                        <div class="card card-body">
                            Insert text
                        </div>
                    </div>
                </div>

                <!-- Collapse 5 -->
                <div class="gtco-accordion">
                    <div class="btn-primary" data-toggle="collapse" href="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
                        <div class="gtco-accordion-heading">
                            <h3>How do i contact a influencer.</h3>
                        </div>
                    </div>
                    <div class="collapse" id="collapseExample5">
                        <div class="card card-body">
                            Insert text
                        </div>
                    </div>
                </div>

                <!-- Collapse 6 -->
                <div class="gtco-accordion">

                    <div class="btn-primary" data-toggle="collapse" href="#collapseExample6" aria-expanded="false" aria-controls="collapseExample">
                        <div class="gtco-accordion-heading">
                            <h3>Some stuff.</h3>
                        </div>
                    </div>

                    <div class="collapse" id="collapseExample6">
                        <div class="card card-body">
                            Insert text
                        </div>
                    </div>
                </div>
            </div>

            <!-- Collapse 7 -->
            <div class="gtco-accordion">
                    
                <div class="btn-primary" data-toggle="collapse" href="#collapseExample7" aria-expanded="false" aria-controls="collapseExample">
                    <div class="gtco-accordion-heading">
                        <h3>Vores kontakt informationer</h3>
                    </div>
                </div>

                <div class="collapse" id="collapseExample7">
                    <div class="card card-body">
                        Insert text
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>
</div>

<!-- Nederste del slut -->